body {
  font-family: 'Ocean Sans', sans-serif;
}

h1 {
  text-align: center;
}

h2 {
    font-size: 3em;
}

h3 {
  text-align: left;
    font-size: 1.66em;
}
p {
    text-align: left;
    font-size: 1.3em;
}
.header-image {
  width: 100%;
  height: 100px; /* Измените это значение в зависимости от размера картинки */
  background: url('https://html5hacks.com/wp-content/uploads/2022/08/free-html5-frameworks.png') no-repeat center center/cover;
  position: relative;
}

.header-image::before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
}

.header-image h2 {
  position: relative;
  z-index: 1;
  color: white;
  text-align: center;
  padding-top:20px; /* Регулируем вертикальное положение текста */
}

.content {
  max-width: 800px; /* Регулируем ширину блока с текстом */
  margin: 0 auto; /* Выравниваем блок по центру */
}
.img {
    width: 80%; /*  ширина */
    height: auto; /* сохраняет пропорции картинки */
}
.footer {
  background-color: #2F4F4F; /* цвет фона */
  color: #fff; /* белый цвет текста */
  padding: 20px; /* добавляем внутренний отступ для текста */
  text-align: center; /* выравнивание текста по центру */
  width: 100%;
  font-size: 1.33em;
  display: flex; /* устанавливаем контейнеру флекс-контейнером */
  justify-content: center; /* выравниваем элементы по горизонтали по центру */
}
/* Стили для кнопки открытия меню */
#menu-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  color: #555;
    right: 20%;
    border: none;  /* убираем границу */
  background: transparent;  /* делаем фон прозрачным */
     transition: transform 0.3s ease-in-out; /* Добавляем плавный эффект анимации */
}
#menu-btn:hover {
  transform: scale(1.2); /* Увеличиваем размер иконки при наведении */
}
/* Стили для бокового меню */
.side-nav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,0.9);
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.side-nav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  color: #f2f2f2;
  display: block;
  transition: 0.3s;
  font-size: 30px;  /* увеличиваем размер текста */
}

/* Стили при наведении на ссылки в меню */
.side-nav a:hover {
  color: #f1f1f1;
  transform: scale(1.1);  /* увеличиваем размер текста при наведении */
  background-color: #ddd;  /* изменяем цвет фона текста при наведении */
}
